@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
	display:none;
}



body{

    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 56px;
}









.left-header{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-header img
{
    width: 95px;
    margin-left: 15px;
}

.mid-header{
    display: flex;
    align-items: center;
}

.mid-header form{
    display: flex;
    width: 580px;
    height: 40px;
}

.mid-header input {
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 2px 0 0 2px;
    border-right: none;
    padding-left: 5px;
}
.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.right-header img {
    width: 36px;
    height: 36px;
    border: 1px solid;
    border-radius: 29px;
    margin-left: 10px;
}

.right-header i {
    margin: 0 10px;
}



.mid-header .mic {
    background: #e2e2e2;
    /* padding: 6px; */
    border-radius: 20px;
    margin-left: 5px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-header button {
    width: 60px;
    padding-top: 6px;
    /* padding: 5px 13px 0 13px; */
    border-radius: 0 2px 2px 0;
    border: 1px solid #d3d3d3;
}

.content
{
    display: flex;
    background: #f9f9f9
}


aside {
    display: flex;
    background: #fff;
    width: 280px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}


nav span {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
}

.active
{
    background: #eaeaea;
}

nav a {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 9px 2.5rem;
    color: black;
    width: 100%;
}

nav a:hover
{
    background: #eaeaea;
}


hr {
    background-color: #d5d5d5;
    border: none;
    height: 1px;
    margin: 20px 0;
}


.subs img {
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

nav p{
    color: #000000b3;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 0 9px 26px;
}

.subs span {
    margin-left: 24px;
}


main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.topbuttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    background: #fff;
    height: 59px;
    width: 100%;
    border: 1px solid #c3c3c3;
    border-left: 0;
    border-right: 0;
    overflow-x: auto;
    cursor: pointer;
    white-space: nowrap;
}

.topbuttons button {
    height: 30px;
    background: #f2f2f2;
    border: 1px solid #d3d3d3;
    padding: 0 19px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}


.videos {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.videoimg img {
    width: 95%;
}

.details {
    display: flex;
}


.dimg img {
    height: 100%;
    width: 100%;
    max-width: 30px;
    max-height: 30px;
    border-radius: 25px;
}

.videocontainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
}


.dtitle {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.dtitle a {
    text-decoration: none;
}


.dtitle .title {
    font-size: 1.5rem;
    color: black;
}

.dtitle .channame {
    color: #444444;
    margin: 6px 0 3px 0;
}

.dtitle p{

    color: #444444;
}

.right-header .search{
    display: none;
}

.videos{
    width: 20%;
}

/* @media only screen and (min-width: 993px) */
/* @media only screen and (max-width: 600px) */
@media screen and (max-width:993px){




    .right-header .search{
        display: flex;
    }
    

    .videos{
        width: 33.33333333%;
    }

.mid-header form, aside, i.material-icons.mic{
    display: none;
}

.dtitle .title {
    font-size: 1.2rem;

}

}

@media screen and (max-width:600px){

    .videos{
        width:50%;
    }
    .dtitle .title {
        font-size: 1rem;
    
    }
    
}