@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

html{
    font-size: 10px;
    }

 *{ margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body{
     font-family: roboto, sans-serif;
    }
 header{display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      height: 56px;}
 .left-header{
      display: flex;
      align-items: center;
      cursor: pointer;
            }
 . .left-header{margin-left: 15px;}
 .mid-header{display: flex;
            align-items: center;      
            }
.mid-header form{display: flex;
                height:40px;
                width: 400px;
                }
.mid-header input{width: 100%;
                 border: 1px solid #d1d1d1;
                border-radius: 2px 0 0 2px;
                border-right: none;}
 .mid-header button{
                      width: 65px;
                      border: 1px solid #d1d1d1;
                      padding-top: 5px;
                      border-radius: 0 2px 2px 0;

 } 

 .content{display: flex;
          background: yellow;}
 aside{display:flex;
       background: pink;
       width: 250px;}
 .active{background: black;}
 nav{display: flex;
     flex-direction: column;
     width: 100%;
     margin-left: 20px ;}
 nav span{font-size: 14px;
          margin-left: 15px;
         font-weight: 400px;}
 nav a { display: flex;
background-color:white;
color:blue;
align-items: center;
text-decoration:none;
/* padding: 9px 25px 9px 25px; */
padding: 9px 2.5ream;
width: 100%;
}

hr {background-color: red;
     border: none;
     height: 1px;
     margin: 20px 0;
    }

nav a:hover {background-color: greenyellow;}










